{% extends "elements/layout.html" %}


{% block content %}
<div class="content-section">
    <form class="form-text" method="post" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Регистрация</legend>
            <div class="form-group">
                <!-- {{ form.phone.label(class="form-control-label") }} -->

                {% if form.phone.errors %}
                {{ form.phone(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.phone.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.phone(class="form-control form-control-lg form-roundness", maxlength="11", placeholder="+7999-999-99-99", oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');") }}
                {% endif %}
            </div>
            <div class="form-group">
                <!-- {{ form.password.label(class="form-control-label") }} -->
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg form-roundness", placeholder="Введите пароль") }}
                {% endif %}
            </div>
            <div class="form-group">
                <!-- {{ form.confirm_password.label(class="form-control-label") }} -->
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control form-control-lg form-roundness", placeholder="Подтвердите пароль") }}
                {% endif %}
            </div>
            <!-- <div class="form-group">
                {{ form.usr_type.label(class="form-control-label")}}
                {{form.usr_type(class="form-check-label")}}
            </div> -->
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info reg-login-btn form-roundness")}}
        </div>
    </form>
</div>


{% endblock content %}