{% extends "elements/layout.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<h1>Купить проездной</h1>

<div class="content-section">
    <form class="form-text" method="post" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.travelcard_uses(class="form-control form-control-lg form-roundness",placeholder="Введите кол-во поездок",
            maxlength="11",
            oninput="this.value = this.value.replace(/[^0-9.]/g,
            '').replace(/(\..*)\./g, '$1');") }}
            </div>
            <legend class="border-bottom mb-4"></legend>
            <div class="form-group">
                {{ form.submit(class="btn btn-secondary btn-pay form-roundness")}}
            </div>
        </fieldset>
    </form>
</div>

{% else %}
<h3>Войдите в свой аккаунт или зарегистрируйтесь!</h3>
{% endif %}

{% endblock content %}