
<table cellspacing="0" cellpadding="0" border="1" class="schedule">
    <tbody>
        <tr>
            <td colspan="11" width="704">
                <p align="center">
                    <strong>Город 4</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="222">
                <p align="center">
                    <strong>Остановочные</strong>
                    <strong> </strong>
                    <strong>пункты</strong>
                </p>
            </td>
            <td width="70">
                <p align="center">
                    <strong>1</strong>
                </p>
            </td>
            <td width="70">
                <p align="center">
                    <strong>2</strong>
                </p>
            </td>
            <td width="55">
                <p align="center">
                    <strong>3</strong>
                </p>
            </td>
            <td width="55">
                <p align="center">
                    <strong>4</strong>
                </p>
            </td>
            <td width="55" valign="top">
                <p align="center">
                    <strong>5</strong>
                </p>
            </td>
            <td width="55">
                <p align="center">
                    <strong>6</strong>
                </p>
            </td>
            <td width="54">
                <p align="center">
                    <strong>7</strong>
                </p>
            </td>
            <td width="56">
                <p align="center">
                    <strong>8</strong>
                </p>
            </td>
            <td width="63" valign="top">
                <p align="center">
                    9
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>Автостанция г.Инза</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
            </td>
            <td width="45">
                <p align="center">
                    7-06
                </p>
            </td>
            <td width="55">
            </td>
            <td width="55">
                <p align="center">
                    13-33
                </p>
            </td>
            <td width="55">
            </td>
            <td width="55">
                <p align="center">
                    16-00
                </p>
            </td>
            <td width="54">
            </td>
            <td width="56">
                <p align="center">
                    18-25
                </p>
            </td>
            <td rowspan="2" width="63" valign="bottom">
                <p align="center">
                    <strong>18-30</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
                <p align="center">
                    <strong>5-30</strong>
                </p>
            </td>
            <td width="45">
                <p align="center">
                    <strong> </strong>
                </p>
            </td>
            <td width="55">
                <p align="center">
                    <strong>11-45</strong>
                </p>
            </td>
            <td width="55">
                <p align="center">
                    <strong> </strong>
                </p>
            </td>
            <td width="55">
                <p align="center">
                    <strong>14-20</strong>
                </p>
            </td>
            <td width="55">
                <p align="center">
                    <strong> </strong>
                </p>
            </td>
            <td width="54">
                <p align="center">
                    <strong>17-10</strong>
                </p>
            </td>
            <td width="56">
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>ул. Садовая</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-31
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-54
                </p>
            </td>
            <td width="55">
                <p align="center">
                    11-47
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-31
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-21
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-47
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-12
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-20
                </p>
            </td>
            <td rowspan="3" width="63" valign="top">
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-32
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-55
                </p>
            </td>
            <td width="55">
                <p align="center">
                    11-48
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-32
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-22
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-48
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-13
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-21
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>ЦРБ</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
            </td>
            <td width="45">
                <p align="center">
                    6-52
                </p>
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="54">
            </td>
            <td width="56">
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
            </td>
            <td width="45">
                <p align="center">
                    6-53
                </p>
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="54">
            </td>
            <td width="56">
            </td>
            <td rowspan="35" width="63" valign="top">
                <p align="center">
                    <strong>Г</strong>
                </p>
                <p align="center">
                    <strong> </strong>
                </p>
                <p align="center">
                    <strong>А</strong>
                </p>
                <p align="center">
                    <strong> </strong>
                </p>
                <p align="center">
                    <strong>Р</strong>
                </p>
                <p align="center">
                    <strong> </strong>
                </p>
                <p align="center">
                    <strong>А</strong>
                </p>
                <p align="center">
                    <strong> </strong>
                </p>
                <p align="center">
                    <strong>Ж</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>Хлебозавод</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-35
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-47
                </p>
            </td>
            <td width="55">
                <p align="center">
                    11-49
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-29
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-25
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-44
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-15
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-18
                </p>
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-36
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-48
                </p>
            </td>
            <td width="55">
                <p align="center">
                    11-50
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-30
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-26
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-45
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-16
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-19
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>Ул.Малиновского</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
            </td>
            <td width="45">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="54">
                <p align="center">
                    17-17
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-16
                </p>
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
            </td>
            <td width="45">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="54">
                <p align="center">
                    17-18
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-17
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>Ул.Комсомольская</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
            </td>
            <td width="45">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="54">
                <p align="center">
                    17-19
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-14
                </p>
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
            </td>
            <td width="45">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="54">
                <p align="center">
                    17-20
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-15
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>Хозмаг</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-37
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-46
                </p>
            </td>
            <td width="55">
                <p align="center">
                    11-55
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-24
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-37
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-37
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-21
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-12
                </p>
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-38
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-47
                </p>
            </td>
            <td width="55">
                <p align="center">
                    11-56
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-25
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-38
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-38
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-22
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-13
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>Школа №1</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-39
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-44
                </p>
            </td>
            <td width="55">
                <p align="center">
                    11-57
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-21
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-39
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-35
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-23
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-10
                </p>
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-40
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-45
                </p>
            </td>
            <td width="55">
                <p align="center">
                    11-58
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-22
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-40
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-36
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-24
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-11
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>ул.Алашеева</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-41
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-41
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-00
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-08
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-41
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-33
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-25
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-08
                </p>
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-42
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-42
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-01
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-09
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-42
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-34
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-26
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-09
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>Баня</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-44
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-38
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-03
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-05
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-44
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-31
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-27
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-06
                </p>
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-45
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-39
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-04
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-06
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-45
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-32
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-28
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-07
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>7-ой мик-он</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-46
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-35
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-06
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-02
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-46
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-29
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-29
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-04
                </p>
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-47
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-36
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-07
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-03
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-47
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-30
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-30
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-05
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>ПМК-53</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-48
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-33
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-09
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-59
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-48
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-27
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-31
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-02
                </p>
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-49
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-34
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-10
                </p>
            </td>
            <td width="55">
                <p align="center">
                    13-00
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-49
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-28
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-32
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-03
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>г. Инза</strong>
                </p>
                <p>
                    <strong> ФНМ</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-50
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-30
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-11
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-57
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-50
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-25
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-34
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-00
                </p>
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-51
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-31
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-12
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-58
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-51
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-26
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-35
                </p>
            </td>
            <td width="56">
                <p align="center">
                    18-01
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>Оськино</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-55
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-26
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-17
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-53
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-55
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-22
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-37
                </p>
            </td>
            <td width="56">
                <p align="center">
                    17-58
                </p>
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-56
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-27
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-18
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-54
                </p>
            </td>
            <td width="55">
                <p align="center">
                    14-56
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-23
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-38
                </p>
            </td>
            <td width="56">
                <p align="center">
                    17-59
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>с. Забалуйка</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-57
                </p>
            </td>
            <td width="45">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
                <p align="center">
                    14-77
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-17
                </p>
            </td>
            <td width="54">
            </td>
            <td width="56">
                <p align="center">
                    17-54
                </p>
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
                <p align="center">
                    5-58
                </p>
            </td>
            <td width="45">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
                <p align="center">
                    14-58
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-20
                </p>
            </td>
            <td width="54">
            </td>
            <td width="56">
                <p align="center">
                    17-55
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong> Забалуйка заезд в село</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
            </td>
            <td width="45">
                <p align="center">
                    6-24
                </p>
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="54">
                <p align="center">
                    17-40
                </p>
            </td>
            <td width="56">
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
            </td>
            <td width="45">
                <p align="center">
                    6-25
                </p>
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="54">
                <p align="center">
                    17-41
                </p>
            </td>
            <td width="56">
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>п. Свет</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-00
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-15
                </p>
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
                <p align="center">
                    15-00
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-14
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-45
                </p>
            </td>
            <td width="56">
                <p align="center">
                    17-52
                </p>
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-01
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-16
                </p>
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
                <p align="center">
                    15-01
                </p>
            </td>
            <td width="55">
                <p align="center">
                    15-15
                </p>
            </td>
            <td width="54">
                <p align="center">
                    17-46
                </p>
            </td>
            <td width="56">
                <p align="center">
                    17-53
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>Екатериновка</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
                <p align="center">
                    6-05
                </p>
            </td>
            <td width="45">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
                <p align="center">
                    15-05
                </p>
            </td>
            <td width="55">
            </td>
            <td width="54">
                <p align="center">
                    17-50
                </p>
            </td>
            <td width="56">
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
            </td>
            <td width="45">
                <p align="center">
                    6-05
                </p>
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
                <p align="center">
                    <strong>15-10</strong>
                </p>
            </td>
            <td width="54">
            </td>
            <td width="56">
                <p align="center">
                    <strong>17-50</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>Панциревка</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
            </td>
            <td width="45">
            </td>
            <td width="55">
                <p align="center">
                    12-26
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-46
                </p>
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="54">
            </td>
            <td width="56">
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
            </td>
            <td width="45">
            </td>
            <td width="55">
                <p align="center">
                    12-27
                </p>
            </td>
            <td width="55">
                <p align="center">
                    12-47
                </p>
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="54">
            </td>
            <td width="56">
            </td>
        </tr>
        <tr>
            <td rowspan="2" width="135">
                <p>
                    <strong>Андрияновка</strong>
                </p>
            </td>
            <td width="87">
                <p align="center">
                    прибытие
                </p>
            </td>
            <td width="45">
            </td>
            <td width="45">
            </td>
            <td width="55">
                <p align="center">
                    12-39
                </p>
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="54">
            </td>
            <td width="56">
            </td>
        </tr>
        <tr>
            <td width="87">
                <p align="center">
                    отправление
                </p>
            </td>
            <td width="45">
            </td>
            <td width="45">
            </td>
            <td width="55">
            </td>
            <td width="55">
                <p align="center">
                    <strong>12-40</strong>
                </p>
            </td>
            <td width="55">
            </td>
            <td width="55">
            </td>
            <td width="54">
            </td>
            <td width="56">
            </td>
        </tr>
    </tbody>
</table>
